# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Dados fornecidos 
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
# Criando uma série
anomalias = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])

print(anomalias)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
#Colocando o ano nos índices
anomalias = ([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
serie_anomalias = pd.Series(anomalias, index=anos)
print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

serie_temp = pd.Series(dic_temperaturas)
print(serie_temp)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

#Transformando um array em em um DataFrame 
df = pd.DataFrame(arr)

print(df)

             0           1           2
0    94.702637   86.669880  106.420111
1   111.621944  100.929376   98.886867
2    96.374256   94.007345   94.729225
3    85.866790   96.172863   95.575966
4    98.228996   97.133285   83.214546
5    99.123582  111.819558  103.441084
6    92.943814   90.240448  108.578616
7    81.377455   93.997637   87.844996
8    84.358792  101.650915   96.460887
9   103.094435  109.859039  111.074619
10   82.579126  101.526243  102.348754
11  112.639283   99.396574   82.270366
12  101.759377  109.802443   94.907220
13   79.556599  102.199969   97.087933
14   98.431876  105.042062  111.902821
15  119.414002   91.566052  115.042049
16   74.566603  106.464630  110.665887
17   92.703856  121.300545  102.171705
18   94.945728   87.602629   93.784036
19  112.860267   93.631836  102.612905

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#Alterando o indice
df.index = range(1, 21)
#Renomeando as colunas
df.columns = ["x1", "x2", "x3"]

print(df)

            x1          x2          x3
1    94.702637   86.669880  106.420111
2   111.621944  100.929376   98.886867
3    96.374256   94.007345   94.729225
4    85.866790   96.172863   95.575966
5    98.228996   97.133285   83.214546
6    99.123582  111.819558  103.441084
7    92.943814   90.240448  108.578616
8    81.377455   93.997637   87.844996
9    84.358792  101.650915   96.460887
10  103.094435  109.859039  111.074619
11   82.579126  101.526243  102.348754
12  112.639283   99.396574   82.270366
13  101.759377  109.802443   94.907220
14   79.556599  102.199969   97.087933
15   98.431876  105.042062  111.902821
16  119.414002   91.566052  115.042049
17   74.566603  106.464630  110.665887
18   92.703856  121.300545  102.171705
19   94.945728   87.602629   93.784036
20  112.860267   93.631836  102.612905

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
#Calculando a média das três colunas
df["media"] = df[["x1", "x2", "x3"]].mean(axis=1)

print(df)

            x1          x2          x3       media
1    94.702637   86.669880  106.420111   95.930876
2   111.621944  100.929376   98.886867  103.812729
3    96.374256   94.007345   94.729225   95.036942
4    85.866790   96.172863   95.575966   92.538540
5    98.228996   97.133285   83.214546   92.858942
6    99.123582  111.819558  103.441084  104.794741
7    92.943814   90.240448  108.578616   97.254292
8    81.377455   93.997637   87.844996   87.740030
9    84.358792  101.650915   96.460887   94.156865
10  103.094435  109.859039  111.074619  108.009364
11   82.579126  101.526243  102.348754   95.484708
12  112.639283   99.396574   82.270366   98.102074
13  101.759377  109.802443   94.907220  102.156347
14   79.556599  102.199969   97.087933   92.948167
15   98.431876  105.042062  111.902821  105.125586
16  119.414002   91.566052  115.042049  108.674034
17   74.566603  106.464630  110.665887   97.232373
18   92.703856  121.300545  102.171705  105.392035
19   94.945728   87.602629   93.784036   92.110798
20  112.860267   93.631836  102.612905  103.035003

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# Criando uma nova coluna"
df["log_med"] = np.log(df["media"])

# Exibindo o DataFrame final
print(df)

            x1          x2          x3       media   log_med
1    94.702637   86.669880  106.420111   95.930876  4.563628
2   111.621944  100.929376   98.886867  103.812729  4.642589
3    96.374256   94.007345   94.729225   95.036942  4.554266
4    85.866790   96.172863   95.575966   92.538540  4.527625
5    98.228996   97.133285   83.214546   92.858942  4.531082
6    99.123582  111.819558  103.441084  104.794741  4.652004
7    92.943814   90.240448  108.578616   97.254292  4.577329
8    81.377455   93.997637   87.844996   87.740030  4.474378
9    84.358792  101.650915   96.460887   94.156865  4.544962
10  103.094435  109.859039  111.074619  108.009364  4.682218
11   82.579126  101.526243  102.348754   95.484708  4.558966
12  112.639283   99.396574   82.270366   98.102074  4.586009
13  101.759377  109.802443   94.907220  102.156347  4.626504
14   79.556599  102.199969   97.087933   92.948167  4.532042
15   98.431876  105.042062  111.902821  105.125586  4.655156
16  119.414002   91.566052  115.042049  108.674034  4.688353
17   74.566603  106.464630  110.665887   97.232373  4.577104
18   92.703856  121.300545  102.171705  105.392035  4.657687
19   94.945728   87.602629   93.784036   92.110798  4.522992
20  112.860267   93.631836  102.612905  103.035003  4.635069