# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Dados fornecidos 
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
# Criando uma série
anomalias = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])

print(anomalias)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [8]:
#Colocando o ano nos índices
serie_anomalias = pd.Series(anomalias, index=anos)
print(serie_anomalias)

1900   NaN
1920   NaN
1940   NaN
1960   NaN
1980   NaN
2000   NaN
2020   NaN
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

serie_temp = pd.Series(dic_temperaturas)
print(serie_temp)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

#Transformando um array em em um DataFrame 
df = pd.DataFrame(arr)

print(df)

             0           1           2
0   105.861052  100.358531  104.735642
1    87.875466   93.994887  106.484249
2   112.376132  110.603709   99.402906
3   102.771571  113.454142  107.722660
4    98.304785   89.611503   86.368962
5    96.070800  117.897035   88.230293
6   101.041769  111.379829  102.992723
7   107.511677   88.253820   94.330194
8    98.452751   91.519179   92.229662
9   114.759598  111.780263  122.488036
10   93.461512   92.772805  100.979977
11   77.971011   70.981256  111.552622
12  105.017333  102.422025  103.899109
13  105.741527   99.199910  102.303879
14  108.829985  100.251664  111.344028
15   93.771561  113.658907   76.307087
16   91.048930  117.277877  110.311473
17   91.984181  107.188992   99.483429
18  117.208096  112.039426   90.079587
19  106.383598   99.208306  114.457855

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#Alterando o indice
df.index = range(1, 21)
#Renomeando as colunas
df.columns = ["x1", "x2", "x3"]

print(df)

            x1          x2          x3
1   105.861052  100.358531  104.735642
2    87.875466   93.994887  106.484249
3   112.376132  110.603709   99.402906
4   102.771571  113.454142  107.722660
5    98.304785   89.611503   86.368962
6    96.070800  117.897035   88.230293
7   101.041769  111.379829  102.992723
8   107.511677   88.253820   94.330194
9    98.452751   91.519179   92.229662
10  114.759598  111.780263  122.488036
11   93.461512   92.772805  100.979977
12   77.971011   70.981256  111.552622
13  105.017333  102.422025  103.899109
14  105.741527   99.199910  102.303879
15  108.829985  100.251664  111.344028
16   93.771561  113.658907   76.307087
17   91.048930  117.277877  110.311473
18   91.984181  107.188992   99.483429
19  117.208096  112.039426   90.079587
20  106.383598   99.208306  114.457855

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
#Calculando a média das três colunas
df["media"] = df[["x1", "x2", "x3"]].mean(axis=1)

print(df)

            x1          x2          x3       media
1   105.861052  100.358531  104.735642  103.651742
2    87.875466   93.994887  106.484249   96.118201
3   112.376132  110.603709   99.402906  107.460916
4   102.771571  113.454142  107.722660  107.982791
5    98.304785   89.611503   86.368962   91.428417
6    96.070800  117.897035   88.230293  100.732710
7   101.041769  111.379829  102.992723  105.138107
8   107.511677   88.253820   94.330194   96.698564
9    98.452751   91.519179   92.229662   94.067197
10  114.759598  111.780263  122.488036  116.342632
11   93.461512   92.772805  100.979977   95.738098
12   77.971011   70.981256  111.552622   86.834963
13  105.017333  102.422025  103.899109  103.779489
14  105.741527   99.199910  102.303879  102.415105
15  108.829985  100.251664  111.344028  106.808559
16   93.771561  113.658907   76.307087   94.579185
17   91.048930  117.277877  110.311473  106.212760
18   91.984181  107.188992   99.483429   99.552200
19  117.208096  112.039426   90.079587  106.442370
20  106.383598   99.208306  114.457855  106.683253

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# Criando uma nova coluna"
df["log_med"] = np.log(df["media"])

# Exibindo o DataFrame final
print(df)

            x1          x2          x3       media   log_med
1   105.861052  100.358531  104.735642  103.651742  4.641037
2    87.875466   93.994887  106.484249   96.118201  4.565579
3   112.376132  110.603709   99.402906  107.460916  4.677127
4   102.771571  113.454142  107.722660  107.982791  4.681972
5    98.304785   89.611503   86.368962   91.428417  4.515556
6    96.070800  117.897035   88.230293  100.732710  4.612471
7   101.041769  111.379829  102.992723  105.138107  4.655275
8   107.511677   88.253820   94.330194   96.698564  4.571599
9    98.452751   91.519179   92.229662   94.067197  4.544009
10  114.759598  111.780263  122.488036  116.342632  4.756540
11   93.461512   92.772805  100.979977   95.738098  4.561616
12   77.971011   70.981256  111.552622   86.834963  4.464009
13  105.017333  102.422025  103.899109  103.779489  4.642268
14  105.741527   99.199910  102.303879  102.415105  4.629034
15  108.829985  100.251664  111.344028  106.808559  4.671038
16   93.771561  113.658907   76.307087   94.579185  4.549437
17   91.048930  117.277877  110.311473  106.212760  4.665444
18   91.984181  107.188992   99.483429   99.552200  4.600682
19  117.208096  112.039426   90.079587  106.442370  4.667604
20  106.383598   99.208306  114.457855  106.683253  4.669864