# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Dados fornecidos
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Criando a série
serie_anomalias = pd.Series(data=anomalias, index=anos)

# Exibindo a série
print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

serie_anomalias = pd.Series(anomalias, index=anos)

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

serie_temp = pd.Series(dic_temperaturas)
print(serie_temp)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

#Transformando um array em em um DataFrame 
df = pd.DataFrame(arr)

print(df)

             0           1           2
0   109.477438   83.666573  101.564890
1   120.538474  115.786219   84.662945
2   107.379022  113.761829  105.960252
3   114.474884  111.548780   84.682052
4   103.138326   83.855276   99.541756
5   101.015555   76.821064  103.459396
6   122.357744  105.450739  114.856334
7    88.389872   96.939497  105.579721
8    92.811171   87.381180   81.618192
9   110.644248  108.820710   96.648405
10  103.838211   95.710772   91.206556
11  107.199693  117.042017   93.674233
12   98.690959   97.773585  111.307459
13  111.687156   97.772153  102.619395
14  109.003600   82.670925  106.482907
15   97.280516  116.881732   97.857681
16  112.942515   95.175604   93.500908
17   88.042828  109.153740  103.015258
18   99.448425  102.034764  104.948128
19   94.697769  108.458672   81.137250

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#Alterando o indice
df.index = range(1, 21)
#Renomeando as colunas
df.columns = ["x1", "x2", "x3"]

print(df)

            x1          x2          x3
1   109.477438   83.666573  101.564890
2   120.538474  115.786219   84.662945
3   107.379022  113.761829  105.960252
4   114.474884  111.548780   84.682052
5   103.138326   83.855276   99.541756
6   101.015555   76.821064  103.459396
7   122.357744  105.450739  114.856334
8    88.389872   96.939497  105.579721
9    92.811171   87.381180   81.618192
10  110.644248  108.820710   96.648405
11  103.838211   95.710772   91.206556
12  107.199693  117.042017   93.674233
13   98.690959   97.773585  111.307459
14  111.687156   97.772153  102.619395
15  109.003600   82.670925  106.482907
16   97.280516  116.881732   97.857681
17  112.942515   95.175604   93.500908
18   88.042828  109.153740  103.015258
19   99.448425  102.034764  104.948128
20   94.697769  108.458672   81.137250

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
#Calculando a média das três colunas
df["media"] = df[["x1", "x2", "x3"]].mean(axis=1)

print(df)

            x1          x2          x3       media
1   109.477438   83.666573  101.564890   98.236301
2   120.538474  115.786219   84.662945  106.995879
3   107.379022  113.761829  105.960252  109.033701
4   114.474884  111.548780   84.682052  103.568572
5   103.138326   83.855276   99.541756   95.511786
6   101.015555   76.821064  103.459396   93.765338
7   122.357744  105.450739  114.856334  114.221605
8    88.389872   96.939497  105.579721   96.969697
9    92.811171   87.381180   81.618192   87.270181
10  110.644248  108.820710   96.648405  105.371121
11  103.838211   95.710772   91.206556   96.918513
12  107.199693  117.042017   93.674233  105.971981
13   98.690959   97.773585  111.307459  102.590668
14  111.687156   97.772153  102.619395  104.026235
15  109.003600   82.670925  106.482907   99.385810
16   97.280516  116.881732   97.857681  104.006643
17  112.942515   95.175604   93.500908  100.539676
18   88.042828  109.153740  103.015258  100.070608
19   99.448425  102.034764  104.948128  102.143773
20   94.697769  108.458672   81.137250   94.764564

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:

# Criando uma nova coluna"
df["log_med"] = np.log(df["media"])

# Exibindo o DataFrame final
print(df)

            x1          x2          x3       media   log_med
1   109.477438   83.666573  101.564890   98.236301  4.587376
2   120.538474  115.786219   84.662945  106.995879  4.672790
3   107.379022  113.761829  105.960252  109.033701  4.691657
4   114.474884  111.548780   84.682052  103.568572  4.640234
5   103.138326   83.855276   99.541756   95.511786  4.559250
6   101.015555   76.821064  103.459396   93.765338  4.540795
7   122.357744  105.450739  114.856334  114.221605  4.738140
8    88.389872   96.939497  105.579721   96.969697  4.574399
9    92.811171   87.381180   81.618192   87.270181  4.469009
10  110.644248  108.820710   96.648405  105.371121  4.657489
11  103.838211   95.710772   91.206556   96.918513  4.573871
12  107.199693  117.042017   93.674233  105.971981  4.663175
13   98.690959   97.773585  111.307459  102.590668  4.630747
14  111.687156   97.772153  102.619395  104.026235  4.644643
15  109.003600   82.670925  106.482907   99.385810  4.599009
16   97.280516  116.881732   97.857681  104.006643  4.644455
17  112.942515   95.175604   93.500908  100.539676  4.610552
18   88.042828  109.153740  103.015258  100.070608  4.605876
19   99.448425  102.034764  104.948128  102.143773  4.626381
20   94.697769  108.458672   81.137250   94.764564  4.551396